.opponent {
    height: 37.5%;
    display: flex;
    flex-flow: row nowrap;
    &__info {
        width: 55%;
        display: flex;
        align-items: center;
        padding-left: 30px;
    }
    &__box {
        width: 100%;
        height: 100px;
        border-radius: 10px;
        border: 5px solid dimgrey;
        padding: 15px;
        display: none;
        flex-flow: column nowrap;
        justify-content: center;
    }
    &__text {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    &__health {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        margin-right: 5px;
    }
    &__health-tag {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        border-radius: 10px 0 0 10px;
        box-shadow: 0 0 0 5px black;
    }
    &__health-text {
        color: orange;
    }
    &__health-bar {
        width: 75%;
        height: 20px;
        background-color: darkgrey;
        border-radius: 0 10px 10px 0;
        box-shadow: 0 0 0 5px black;
    }
    &__health-bar--fill {
        width: 100%;
        height: 20px;
        background-color: green;
        border-radius: 0 10px 10px 0;
    }
    &__sprite {
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        &::after {
            content: '';
            width: 110%;
            height: 35%;
            border-radius: 50%;
            background-color: lightgrey;
            position: absolute;
            bottom: -15%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__error {
        position: absolute;
        z-index: 10;
        display: none;
    }
    &__error1 {
        top: 20%;
        left: 10%;
        font-size: 3.6rem;
        color: red;
    }
    &__error2 {
        top: 40%;
        right: 15%;
        font-size: 4.8rem;
        color: black;
    }
    &__error3 {
        bottom: 0;
        left: 30%;
        font-size: 2.4rem;
        color: gold;
    }
    &__image {
        display: block;
        z-index: 5;
        position: absolute;
        left: -300%;
        bottom: -10%;
        transform: translateX(-50%);
    }
    &__capture {
        display: none;
        z-index: 5;
    }
}


// MEDIA QUERY

@media (max-width: 640px) {
    .opponent {
        &__info {
            padding-left: 15px;
        }
        &__box {
            height: 75px;
            padding: 10px;
        }
        &__text {
            margin-bottom: 7.5px;
        }
        &__health {
            margin-right: 2.5px;
        }
        &__health-tag {
            width: 25px;
            border-radius: 5px 0 0 5px;
            box-shadow: 0 0 0 2.5px black;
        }
        &__health-bar {
            height: 10px;
            background-color: darkgrey;
            border-radius: 0 5px 5px 0;
            box-shadow: 0 0 0 2.5px black;
        }
        &__health-bar--fill {
            height: 10px;
            border-radius: 0 5px 5px 0;
        }
        &__error1 {
            font-size: 2.4rem;
        }
        &__error2 {
            font-size: 3.6rem;
        }
        &__error3 {
            font-size: 1.8rem;
        }
        &__image {
            width: 60%;
        }
        &__capture {
            width: 75%;
        }
    }
}